#login {
  width: 100%;
  height: 100vh;
  background-color: var(--clr-secondary-light);
}

.login-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-img-container {
  width: 500px;
  height: 400px;
  background-color: var(--clr-secondary);
}

.login-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login-form-container {
  width: 350px;
  height: 400px;
  background-color: var(--clr-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-title {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
  }
  .login-img-container {
    display: none;
  }
}
